{
    "presets": [
      ["@babel/preset-env", {
        "targets": {
          "browsers": [
            "last 1 version",
            "> 2%",
            "maintained node versions",
            "not dead"
          ]
        },
          "useBuiltIns": "entry"
      }]
  
    ]
  }