body {
    font-family: sans-serif;
    color: #2e2e2e;
}

.container {
    max-width: 1200px;
    margin: 2rem auto;
}

h1 {
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.sub-heading {
    text-align: center;
    font-weight: bold;
    margin: 2rem 0;
}

.content {
    max-width: 600px;
    margin: 1rem auto;
    line-height: 1.6;
}